In [3]:
l = list(map(int, input().split())) #1 2 3 4 3 5 3 7
d = int(input())
c = l.count(d)
for p in range(c):
    l.remove(d)
print(l)

1 2 3 4 3 5 3 7
3
[1, 2, 4, 5, 3, 7]

In [10]:
# 5
# 7868190130M2522
# 5303914400F3211
# 9273338290F4010
# 2921522980M6544
# 1313579440F2036

n = int(input())
l = []
count = 0
for i in range(0,n):
    l.append(input())
for i in l:
    if int(i[-4:-2]) >= 60:
        count += 1
        print()
        print(i[:10])
print("Count",count)

2
2921522980M6544
1313579440F2036

2921522980
Count 1

In [3]:
# n = int(input())
# arr = list(map(int,input().split()))
# count = 0

# for i in range(n-1):
#     if arr[i]>=arr[i+1]:
#         count = count + arr[i]
# count = count + arr[n-1]

# print(count)

#52 66 64 36 45 24 32
        
n = int(input())
l = list(map(int,input().split()))
r =[]

for p in range(len(l)):
    for q in range(p+1,len(l)):
        if (l[q]>l[p]):
            break
    else:
        r.append(l[p])
            
# print(r)
if(len(r)>=1):
    print(sum(r))
else:
    print("-1")

7
52 66 64 36 45 24 32
207

# Dictionary

1. Dictionary object can be created by using {} by calling dict function .
2. Dictionary is mutable object.
3. insertion order is preserve.
4. indexing is not support.
5. duplicate keys are not allowed.
6. duplicate values are allowed.
7. Dictionary is collection of homogenous and heterogenous keys and values.
8. Indexing and slicing ia not support in Dictionary.
9. Dictionary is collection of key and value pair (the key and value pair is called item).

In [9]:
d = {'a':10,'b':12.5,'c':"Krishna"}
d['f']=20
d

{'a': 10, 'b': 12.5, 'c': 'Krishna', 'f': 20}

In [18]:
e = {"Name":"Rakesh","id1":101,"Dept":"ECE","Salary":65000}
print(e["Dept"])
print(e.get("Salary"))

ECE
65000

In [36]:
for p in e.keys():
    print(p)
print()
for p in e.values():
    print(p)
print()
for p,q in e.items():
    print(p,q)
print()  
for s in e.items():
    print(s)
print()
for s in e.items():
    print(s[0],s[1])
    
lst = sorted(list(e.keys()))
print(lst)

Name
id1
Dept
Salary

Rakesh
101
ECE
65000

Name Rakesh
id1 101
Dept ECE
Salary 65000

('Name', 'Rakesh')
('id1', 101)
('Dept', 'ECE')
('Salary', 65000)

Name Rakesh
id1 101
Dept ECE
Salary 65000
['Dept', 'Name', 'Salary', 'id1']

## Dictionary Compression

The concept of generating elements into dictionary elements by writing some logic in the dictionary.

By using Dictionary Compression we can reduce no. of lines in our code.

In [37]:
# WAP to print Squares of even no. from 1 to 20. key is a number and value is square of number

d={p:p*p for p in range(1,21) if (p%2==0)}
print(d)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324, 20: 400}

In [42]:
# WAP to print Cubes of odd no. from 30 to 50.

d={p:p**3 for p in range(30,51) if (p%2!=0)}
print(d)

x = "Hyderabad"
d={p:x.count(p) for p in x}
print(d)

{31: 29791, 33: 35937, 35: 42875, 37: 50653, 39: 59319, 41: 68921, 43: 79507, 45: 91125, 47: 103823, 49: 117649}
{'H': 1, 'y': 1, 'd': 2, 'e': 1, 'r': 1, 'a': 2, 'b': 1}

In [45]:
# WAP to read a string from the user and print vovel count

x = "hyderabad"

d = {p:x.count(p) for p in x if p in "aeiou"}
d

{'e': 1, 'a': 2}

In [18]:
def FindMostFrequentVowel(words):
    d = {p:words.count(p) for p in words if p in "aeiou"}
    max_val = max(d.values())
    for p,q in d.items():
        if q==max_val:
    
            print(p)
    
    
    
    
words = input()
FindMostFrequentVowel(words)

aba
a

In [12]:
def frequent_character_replaced(string,x):
    d = {p:string.count(p) for p in string}
    l = []
    max_val = max(d.values())
    for p,q in d.items():
        if(max_val==q):
            l.append(p)
    l.sort()
#     print(l[0])
    
    res = ''
    for p in string:
        if (p==l[0]):
            res = res + x
        else:
            res = res + p
    print(res)
    
    
    
string = input()
target = input()
frequent_character_replaced(string,target)

liril
t
ltrtl

In [40]:
n = int(input())
arr = list(map(int, input().split()))[:n]
# print(arr)


d = {p:arr.count(p) for p in arr}

l = []

for p,q in d.items():
    if (p==q):
        l.append(p)

if (len(l)>=1):
    print(max(l))
else:
    print("-1")

8
1 2 2 3 4 4 4 4
4

In [21]:
# ip:d={"raju":45,"anil":56,"zoo":34,"saritha":2,"bharathi":29,"krishna":32}
# op:{"anil":56,"bharathi":29--}
#{"saritha":2,"bharathi":29,"krishna":32--}

d={"raju":45,"anil":56,"zoo":34,"saritha":2,"bharathi":29,"krishna":32}


ans = sorted(d.items())
print(ans)


d={"raju":45 , "anil":56 , "zoo":34 , "saritha":2 , "bharathi":29 , "krishna":32}

x=sorted(d.keys())

# print(x)

out1={}

for i in x:
    out1[i]=d[i]

print(out1)

y=sorted(d.values())

# print(y)
out2={}
for i in y:
    for p,q in d.items():
        if(q==i):
            out2[p]=q
print(out2)

[('anil', 56), ('bharathi', 29), ('krishna', 32), ('raju', 45), ('saritha', 2), ('zoo', 34)]
{'anil': 56, 'bharathi': 29, 'krishna': 32, 'raju': 45, 'saritha': 2, 'zoo': 34}
{'saritha': 2, 'bharathi': 29, 'krishna': 32, 'zoo': 34, 'raju': 45, 'anil': 56}

## Nested Dictonary

1. Dictonary within another dictonary is called nested dictonary.

In [24]:
d = {"Krishna":[23,21,24],"raju":[21,20,18],"saritha":[22,20,16]}
for p,q in d.items():
    print(p,end=" ")
    s = sum(q)
    avg = s/len(q)
    print("Avg: %.2f"%avg)

Krishna Avg: 22.67
raju Avg: 19.67
saritha Avg: 19.33

In [54]:
# Hackerrank Quetion

n = int(input())
arr = []
for i in range(n):
    lst = list(map(str,input().split()))
    arr.append(lst)
target = input()
# print(arr)

dic1 = {}

for i in arr:
    dic1[i[0]]=i[1:]
s = 0
for p,q in dic1.items():
    if target==p:
        for i in q:
            i = int(i)
            s = s + i 
            avg = s/len(q)

print(avg
      
# or 
      
n=int(input(())

d={}

for p in range(n):
      name,*m = input().split() #krishna 21 23 24
      marks = list(map(int,m)) 
      d.update((name:marks))

print (d)
name=input()
m1=d[name]
avg=sum(ml)/len (ml)
print("Avg:%.2f"%avg)

3
kd 10 15
df 30 40
er 50 100
df
35.0

In [64]:
d = {"Krishna":{"Python":23,"c":18,"C++":20},
     "Saritha":{"Python":21,"c":19,"C++":22},
     "Raju":{"Python":20,"c":17,"C++":22}}

for p,q in d.items():
    print(p)
    for v in q.values():
        print(v)
    print()

Krishna
23
18
20

Saritha
21
19
22

Raju
20
17
22

## String Method

s = ["Python","ML","DS","AI]

In [73]:
s = ["Python","ML","DS","AI"]
r = " ".join(s)
print(r)

s ="guntu vijayawada"
print(s.count('a'))
print(s.index('a'))
print(s.index('a',11,15))
print(s.find('a'))
print(s.rfind('a'))
print(s.startswith('v'))
print(s.endswith('a'))
print(s.replace('a','v'))

Python ML DS AI
4
9
11
9
15
False
True
guntu vijvyvwvdv

In [80]:
s = "Krishna"
print(s.find("d"))
try:
    print(s.index("d"))
except:
    print("ðŸ˜‚")

-1
ðŸ˜‚

In [88]:
s = " gujarat vadodara "
print(s.strip())
s = "Krishna"
print(s.center(12,"#"))
s = "krISHNA"
print(s.swapcase())
s = " "
print(s.isspace())

gujarat vadodara
##Krishna###
KRishna
True

In [99]:
# WAP to read string from the user and find reverse of the string and check whether it is palindrome or not.

s = "krishna"
rev = ''
for i in range(1,len(s)+1):
    rev = rev + s[-i]
if rev==s:
    print("Palindrome")
else:
    print("not a Palindrome")

print(rev)

not a Palindrome
anhsirk

In [112]:
s = "lokesh it"
count_v = 0
count_c = 0


for i in s:
    if i in  'aeiou':
        count_v = count_v + 1
    elif i in ' ':
        continue
    elif i not in 'aeiou':
        count_c = count_c + 1

print(count_v)
print(count_c)

3
5

In [124]:
# HW 
# cat batman latt matter cat matter cat cat latt latt

sentence = list(map(str,input().split()))
n = int(input())
# print(sentence)

d = {p:sentence.count(p) for p in sentence}
# print(d)

for p,q in d.items():
    if q>=n:
        print(p,end=" ")

cat batman latt matter cat matter cat cat latt latt
3
cat latt

In [125]:
# HW
# this is a string

sentence = input()
x = sentence.split()
y = "-".join(x)
print(y)

this is a string
this-is-a-string